
.top_banner_mate {
    animation-duration: 1.3s;
    animation-name: right_slidein;
}

@keyframes right_slidein {
  from { margin-left: 150%; width: 100%; }
  80% { margin-left: -40%; width: 100%; }
  to { margin-left: 0%; width: 100%; }
}

.kitchen {
    width: 80%;
    height: 80%
}

.pad {
    position: relative;
    top: 30px;
    left: 50px;
}

.rip {
    position: absolute;
    top: 53px;
    left: 89px;
    width: 161px;
    height: 240px;

    animation-delay: 2s;
    animation-duration: 2s;
    animation-name: tear_check;
    animation-iteration-count: 2;
}

@keyframes rotate {
0% {
transform: translateZ(#{13*-1.1}) rotateZ(25deg) rotateX(20deg) rotateY(0deg);
}
30% {
transform: translateZ(#{13*-1.1}) rotateZ(-25deg) rotateX(-20deg) rotateY(90deg);
}
60% {
transform: translateZ(#{13*-1.1}) rotateZ(25deg) rotateX(20deg) rotateY(180deg);
}
100% {
transform: translateZ(#{13*-1.1}) rotateZ(-25deg) rotateX(-20deg) rotateY(360deg);
}
}

@keyframes tear_check {
     /*** tear animation ***/
from { top: 53px; left: 89px; transform-origin: top left; transform: rotate(2deg); width: 161px; height: 240px;}
15% { top: 53px; left: 89px; transform-origin: top left; transform: rotate(5deg); width: 161px; height: 240px;  }
20% { top: 53px; left: 89px; transform-origin: top left; transform: rotate(10deg); width: 161px; height: 240px;  }
25% { top: 75px; left: 89px; transform-origin: top left; transform: rotate(20deg); width: 161px; height: 240px; }
30% { top: 53px; left: 20%; transform-origin: top left; transform: rotate(15deg); width: 161px; height: 240px;}
    /*** send animation ***/
50% { top: 53px; left: 30%; transform-origin: top left; transform: skew(-5deg); width: 161px; height: 240px;}


to { top: 53px; left: 170%; transform: rotateZ(-25deg) rotateX(-10deg) rotateY(-90deg) skew(-40deg); width: 10px; height:10px; }
}

/*** position check over checkpad ***/
.zi3 {
    z-index: 3;
}

.zi1 {
    z-index: 1;
}

